{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
	<nav class="container-md  p-0">
		<div class="row justify-content-center">
			<div class="p-0 col-md-4 mb-2">
				<div class="nav-img-container me-md-3 ms-md-3" id="index_tuto">
					<a href="#" class="link-dark text-decoration-none text-center  h-100 d-flex justify-content-center p-0">
						<div class="w-100 h-100 d-flex justify-content-center">
							<span class="align-self-end w-100">Tutoriaux</span>
						</div>
					</a>
				</div>
			</div>
			<div class="p-0 col-md-4 mb-2">
				<div class="nav-img-container me-md-3 ms-md-3" id="index_topo">
					<a href="/exits" class="link-dark text-decoration-none text-center h-100 d-flex justify-content-center p-0">
						<div class="w-100 h-100 d-flex justify-content-center">
							<span class="align-self-end w-100">Topographie</span>
						</div>
					</a>
				</div>
			</div>
			<div class="p-0 col-md-4 mb-2">
				<div class="nav-img-container me-md-3 ms-md-3" id="index_carnet">
					<a href="/jumplog" class="link-dark text-decoration-none text-center h-100 d-flex justify-content-center p-0">
						<div class="w-100 h-100 d-flex justify-content-center">
							<span class="align-self-end w-100">Carnet de sauts</span>
						</div>
					</a>
				</div>
			</div>
			<div class="presentation-text row justify-content-center mb-5 p-0">
				<h3 class="text-center mt-5">
					Bienvenue sur "BASE Things"
				</h3>
				<p class="col-10 text-justify text-md-center mt-3">
					Ce site propose des outils pour vous faciliter la vie!! Vous trouverez une série de tutoriels sur la façon de commencer le base jump si vous voulez vous embarquer dans l'aventure, 
					des tutoriels plus techniques concernant le matériel des base jumper.<br>
					Vous pouvez aussi trouver une liste d'exit avec tous les détails de ces derniers,
					Ainsi qu'un accès à un carnet de saut personnalisé où vous pourrez renseigner toutes les données de chacun de vos sauts.
				</p>
			</div>
		</div>
	</nav>
{% endblock %}
