{% extends 'layout.html.twig' %}




{% block content %}

	<nav class="container-fluid container-xl vh-100">
		<ul class="p-0 row h-75">
			<div class="index_tuto col-md-4 ">
				<a href="#" class="d-block link-dark text-decoration-none text-center  h-100 d-flex justify-content-center p-0">
					<div class="w-100 h-100 d-flex justify-content-center">
						<span class="align-self-end w-100">Tutoriaux</span>
					</div>
				</a>
			</div>

			<div class="index_topo col-md-4">
				<a href="exits" class="d-block link-dark text-decoration-none text-center h-100 d-flex justify-content-center p-0">
					<div class="w-100 h-100 d-flex justify-content-center">
						<span class="align-self-end w-100">Topographie</span>
					</div>
				</a>
			</div>

			<div class="index_carnet col-md-4">
				<a href="#" class="d-block link-dark text-decoration-none text-center h-100 d-flex justify-content-center p-0">
					<div class="w-100 h-100 d-flex justify-content-center">
						<span class="align-self-end w-100">Carnet de sauts</span>
					</div>
				</a>
			</div>
		</ul>

		<div class="bg-light border m-2">
			<p class="text-center">
				Bienvenue sur "BASE Things"
			</p>
			<p class="text-justify">
				Ce site a pour but de proposer une palette d'outils pour les BASE Jumpers afin de leur simplifier la vie, ou bien encore afin d'assurer un minilum de sécurité.
			</p>
		</div>
		
	</nav>


{% endblock %}
