{# creation of departments checkbox list #}
<div>
    <input type="checkbox" name="department[]" value = "Ain" id="Ain">
    <label for="Ain">01 – Ain</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Aisne" id="Aisne">
    <label for="Aisne">02 - Aisne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Allier" id="Allier">
    <label for="Allier">03 – Allier</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Alpes-de-Haute-Provence" id="Alpes-de-Haute-Provence">
    <label for="Alpes-de-Haute-Provence">04 – Alpes-de-Haute-Provence</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Hautes-alpes" id="Hautes-alpes">
    <label for="Hautes-alpes">05 – Hautes-alpes</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Alpes-Maritimes" id="Alpes-Maritimes">
    <label for="Alpes-Maritimes">06 – Alpes Maritimes</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Ardèche" id="Ardèche">
    <label for="Ardèche">07 – Ardèche</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Ardennes" id="Ardennes">
    <label for="Ardennes">08 – Ardennes</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Ariège" id="Ariège">
    <label for="Ariège">09 - Ariège</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Aube" id="Aube">
    <label for="Aube">10 – Aube</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Aude" id="Aude">
    <label for="Aude">11 – Aude</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Aveyron" id="Aveyron">
    <label for="Aveyron">12 - Aveyron</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Bouches-du-Rhône" id="Bouches-du-Rhône">
    <label for="Bouches-du-Rhône">13 – Bouches-du-Rhône</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Calvados" id="Calvados">
    <label for="Calvados">14 – Calvados</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Cantal" id="Cantal">
    <label for="Cantal">15 – Cantal</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Charente" id="Charente">
    <label for="Charente">16 – Charente</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Charente-maritime" id="Charente-maritime">
    <label for="Charente-maritime">17 – Charente-maritime</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Cher" id="Cher">
    <label for="Cher">18 – Cher</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Corrèze" id="Corrèze">
    <label for="Corrèze">19 – Corrèze</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Corse-du-sud" id="Corse-du-sud">
    <label for="Corse-du-sud">2A – Corse-du-sud</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Haute-Corse" id="Haute-Corse">
    <label for="Haute-Corse">2B – Haute-Corse</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Côte-d'Or" id="Côte-d'Or">
    <label for="Côte-d'Or">21 – Côte-d'Or</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Côtes-d'Armor" id="Côtes-d'Armor">
    <label for="Côtes-d'Armor">22 – Côtes-d'Armor</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Creuse" id="Creuse">
    <label for="Creuse">23 – Creuse</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Dordogne" id="Dordogne">
    <label for="Dordogne">24 – Dordogne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Doubs" id="Doubs">
    <label for="Doubs">25 – Doubs</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Drôme" id="Drôme">
    <label for="Drôme">26 – Drôme</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Eure" id="Eure">
    <label for="Eure">27 – Eure</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Eure-et-loir" id="Eure-et-loir">
    <label for="Eure-et-loir">28 – Eure-et-loir</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Finistère" id="Finistère">
    <label for="Finistère">29 – Finistère</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Gard" id="Gard">
    <label for="Gard">30 – Gard</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Haute-Garonne" id="Haute-Garonne">
    <label for="Haute-Garonne">31 – Haute-Garonne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Gers" id="Gers">
    <label for="Gers">32 – Gers</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Gironde" id="Gironde">
    <label for="Gironde">33 – Gironde</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Hérault" id="Hérault">
    <label for="Hérault">34 – Hérault</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Ille-et-Vilaine" id="Ille-et-Vilaine">
    <label for="Ille-et-Vilaine">35 – Ille-et-Vilaine</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Indre" id="Indre">
    <label for="Indre">36 – Indre</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Indre-et-Loire" id="Indre-et-Loire">
    <label for="Indre-et-Loire">37 – Indre-et-Loire</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Isère" id="Isère">
    <label for="Isère">38 – Isère</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Jura" id="Jura">
    <label for="Jura">39 – Jura</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Landes" id="Landes">
    <label for="Landes">40 – Landes</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Loir-et-cher" id="Loir-et-cher">
    <label for="Loir-et-cher">41 – Loir-et-cher</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Loire" id="Loire">
    <label for="Loire">42 – Loire</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Haute-Loire" id="Haute-Loire">
    <label for="Haute-Loire">43 – Haute-Loire</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Loire-atlantique" id="Loire-atlantique">
    <label for="Loire-atlantique">44 - Loire-atlantique</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Loiret" id="Loiret">
    <label for="Loiret">45 – Loiret</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Lot" id="Lot">
    <label for="Lot">46 – Lot</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Lot-et-Garonne" id="Lot-et-Garonne">
    <label for="Lot-et-Garonne">47 – Lot-et-Garonne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Lozère" id="Lozère">
    <label for="Lozère">48 – Lozère</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Maine-et-Loire" id="Maine-et-Loire">
    <label for="Maine-et-Loire">49 – Maine-et-Loire</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Manche" id="Manche">
    <label for="Manche">50 – Manche</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Marne" id="Marne">
    <label for="Marne">51 – Marne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Haute-marne" id="Haute-marne">
    <label for="Haute-marne">52 – Haute-marne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Mayenne" id="Mayenne">
    <label for="Mayenne">53 – Mayenne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Meurthe-et-Moselle" id="Meurthe-et-Moselle">
    <label for="Meurthe-et-Moselle">54 – Meurthe-et-Moselle</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Meuse" id="Meuse">
    <label for="Meuse">55 – Meuse</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Morbihan" id="Morbihan">
    <label for="Morbihan">56 – Morbihan</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Moselle" id="Moselle">
    <label for="Moselle">57 – Moselle</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Nièvre" id="Nièvre">
    <label for="Nièvre">58 – Nièvre</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Nord" id="Nord">
    <label for="Nord">59 – Nord</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Oise" id="Oise">
    <label for="Oise">60 – Oise</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Orne" id="Orne">
    <label for="Orne">61 – Orne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Pas-de-calais" id="Pas-de-calais">
    <label for="Pas-de-calais">62 – Pas-de-calais</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Puy-de-dôme" id="Puy-de-dôme">
    <label for="Puy-de-dôme">63 – Puy-de-dôme</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Pyrénées-atlantiques" id="Pyrénées-atlantiques">
    <label for="Pyrénées-atlantiques">64 – Pyrénées-atlantiques</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Hautes-Pyrénées" id="Hautes-Pyrénées">
    <label for="Hautes-Pyrénées">65 – Hautes-Pyrénées</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Pyrénées-orientales" id="Pyrénées-orientales">
    <label for="Pyrénées-orientales">66 – Pyrénées-orientales</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Bas-Rhin" id="Bas-Rhin">
    <label for="Bas-Rhin">67 – Bas-Rhin</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Haut-Rhin" id="Haut-Rhin">
    <label for="Haut-Rhin">68 – Haut-Rhin</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Rhône" id="Rhône">
    <label for="Rhône">69 – Rhône</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Haute-Saône" id="Haute-Saône">
    <label for="Haute-Saône">70 – Haute-Saône</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Saône-et-Loire" id="Saône-et-Loire">
    <label for="Saône-et-Loire">71 – Saône-et-Loire</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Sarthe" id="Sarthe">
    <label for="Sarthe">72 – Sarthe</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Savoie" id="Savoie">
    <label for="Savoie">73 – Savoie</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Haute-Savoie" id="Haute-Savoie">
    <label for="Haute-Savoie">74 – Haute-Savoie</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Paris" id="Paris">
    <label for="Paris">75 – Paris</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Seine-maritime" id="Seine-maritime">
    <label for="Seine-maritime">76 – Seine-maritime</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Seine-et-marne" id="Seine-et-marne">
    <label for="Seine-et-marne">77 – Seine-et-marne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Yvelines" id="Yvelines">
    <label for="Yvelines">78 – Yvelines</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Deux-sèvres" id="Deux-sèvres">
    <label for="Deux-sèvres">79 – Deux-sèvres</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Somme" id="Somme">
    <label for="Somme">80 – Somme</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Tarn" id="Tarn">
    <label for="Tarn">81 – Tarn</label></div>
<div>
    <input type="checkbox" nname="department[]" value = "Tarn-et-Garonne" id="Tarn-et-Garonne">
    <label for="Tarn-et-Garonne">82 – Tarn-et-Garonne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Var" id="Var">
    <label for="Var">83 – Var</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Vaucluse" id="Vaucluse">
    <label for="Vaucluse">84 – Vaucluse</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Vendée" id="Vendée">
    <label for="Vendée">85 – Vendée</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Vienne" id="Vienne">
    <label for="Vienne">86 – Vienne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Haute-vienne" id="Haute-vienne">
    <label for="Haute-vienne">87 – Haute-vienne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Vosges" id="Vosges">
    <label for="Vosges">88 – Vosges</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Yonne" id="Yonne">
    <label for="Yonne">89 – Yonne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Territoire de Belfort" id="Territoire de Belfort">
    <label for="Territoire de Belfort">90 - Territoire de Belfort</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Essonne" id="Essonne">
    <label for="Essonne">91 – Essonne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Hauts-de-seine" id="Hauts-de-seine">
    <label for="Hauts-de-seine">92 – Hauts-de-seine</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Seine-Saint-Denis" id="Seine-Saint-Denis">
    <label for="Seine-Saint-Denis">93 – Seine-Saint-Denis</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Val-de-marne" id="Val-de-marne">
    <label for="Val-de-marne">94 – Val-de-marne</label>
</div>
<div>
    <input type="checkbox" name="department[]" value = "Val-d'Oise" id="Val-d'Oise">
    <label for="Val-d'Oise">95 – Val-d'Oise</label>
</div>



