
{# creation of jump type checkbox list #}
<div>
    <input type="checkbox" name="Static-line" id="1">
    <label for="Static-line">Static-line</label>
</div>
<div>
    <input type="checkbox" name="Sans Glisseur" id="2">
    <label for="Sans Glisseur">Sans Glisseur</label>
</div>
<div>
    <input type="checkbox" name="Lisse" id="3">
    <label for="Lisse">Lisse</label>
</div>
<div>
    <input type="checkbox" name="Track Pantz" id="4">
    <label for="ATrack Pantzin">Track Pantz</label>
</div>
<div>
    <input type="checkbox" name="Track Pantz Monopièce" id="5">
    <label for="Track Pantz Monopièce">Track Pantz Monopièce</label>
</div>
<div>
    <input type="checkbox" name="Wingsuit" id="6">
    <label for=" Wingsuit"> Wingsuit</label>
</div>
