
{# creation of jump type checkbox list #}
<div>
    <input type="checkbox" name="Static-line" id="Static-line">
    <label for="Static-line">Static-line</label>
</div>
<div>
    <input type="checkbox" name="Sans Glisseur" id="Sans Glisseur">
    <label for="Sans Glisseur">Sans Glisseur</label>
</div>
<div>
    <input type="checkbox" name="Lisse" id="Lisse">
    <label for="Lisse">Lisse</label>
</div>
<div>
    <input type="checkbox" name="Track Pantz" id="Track Pantz">
    <label for="ATrack Pantzin">Track Pantz</label>
</div>
<div>
    <input type="checkbox" name="Track Pantz Monopièce" id="Track Pantz Monopièce">
    <label for="Track Pantz Monopièce">Track Pantz Monopièce</label>
</div>
<div>
    <input type="checkbox" name=" Wingsuit" id=" Wingsuit">
    <label for=" Wingsuit"> Wingsuit</label>
</div>
