{# creation of jump type list #}
<option></option>
<option value="1">Static-line</option>
<option value="2">Sans Glisseur</option>
<option value="3">Lisse</option>
<option value="4">Track Pantz</option>
<option value="5">Track Pantz Monopièce</option>
<option value="5">Wingsuit</option>