
{# creation of jump type dropdown list #}
<select class="m-2 bg-light border rounded-pill" name="type_jump" id="type_jump">
    <option>Type de saut</option>
    <option> Static-line</option>
    <option> Sans Glisseur</option>
    <option> Lisse</option>
    <option> Track Pantz</option>
    <option> Track Pantz Monopièce</option>
    <option> Wingsuit</option> 
</select>
