
{# creation of jump type checkbox list #}
<div>
    <input type="checkbox" name="jumpTypes" value="1" id="static-line">
    <label for="static-line">Static-line</label>
</div>
<div>
    <input type="checkbox" name="jumpTypes" value="2" id="sans glisseur">
    <label for="sans glisseur">Sans Glisseur</label>
</div>
<div>
    <input type="checkbox" name="jumpTypes" value="3" id="lisse">
    <label for="lisse">Lisse</label>
</div>
<div>
    <input type="checkbox" name="jumpTypes" value="4" id="track pantz">
    <label for="track pantz">Track Pantz</label>
</div>
<div>
    <input type="checkbox" name="jumpTypes" value="5" id="track pantz monopièce">
    <label for="track pantz monopièce">Track Pantz Monopièce</label>
</div>
<div>
    <input type="checkbox" name="jumpTypes" value="6" id="wingsuit">
    <label for="wingsuit"> Wingsuit</label>
</div>
