*{
    --main-color: #4DB4D4;
    font-family: Verdana, Tahoma, sans-serif;
}

 /*CSS header */

header{
    background-color: var(--main-color);
    color: white;
    box-shadow: inset 0px 0px 10px 10px whitesmoke;
    display: flex;
    justify-content: space-around;
    height: 15vh;
    align-items: center;
    margin-bottom: 5vh;
}

.squirrel, .adrenaline, .phenix, .atair{
    height: 10vh;
}

.slogan{
    font-style: italic;
}



#navbarDropdownMenuLink{
    box-shadow: 1px 1px 12px white;
    
}

.first-logo{
  margin-left: 5vh;
}

.dropdown{
    margin-right: 5vh;
}

.margin_footer{
    margin-bottom: 80px;
}
footer{
    background-color: var(--main-color);
}

.text-justify {
    text-align : justify;
}

/* CSS index page */
nav div{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.index_tuto{
    background-image: url(/assets/images/accueil_tutoriaux.jpg);
    
}

.index_topo {
    background-image: url(/assets/images/accueil_topo_des_exits.jpg);
}

.index_carnet {
    background-image: url(/assets/images/accueil_carnet_de_saut1.jpg);
}

nav span{
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.7);
    font-size: 1.5em;
    margin: 0.5em;
}
/*  */

/* CSS exit list */
.card-container{
    height: 70vh;
}

.card{
    border-radius: 15px;
    height: 100%;
}

.card-body{
    background-color: var(--main-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: inset 0px 0px 20px 10px #aed6e2;
}

.list-item{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.list-group{
    height: 40%;
}

.list-group-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbf0f8;
    height: 100%;
}

#dropdown-menu{
    height: 300px;
}

.dropdown-menu{
    border-radius: 10px;
}

 .card-img-top{
    height: 50%;
}
/* css login form */
#login_form_container {
    height: 100vh;
}

.panel{
    border-radius: 15px;
}

.panel-heading {
    background-color: var(--main-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: inset 0px 0px 20px 10px #aed6e2;
    height: 8vh;
}
.error_message {
    --bs-text-opacity: .8;
}

.background-p {
    background-color: #dbf0f8;
    border-radius: 15px;
}