{# creation of the exit display list page and using boostrap to style the page #}

{% extends 'layout.html.twig' %}

{% block title %}
	Tutoriaux
{% endblock %}

{% block content %}
	{# creation of a drop-down list to contain the filters #}
	<main>
		<div class="container">
            <div class="tutoriaux">
                <p><h1 class="text-center mb-5">Advertizing</h1></p>
                
                <p class="tab">BASE jumping is the practice of parachuting from fixed objects. Fixed object parachute
                    jumping from towers and other objects has been a part of history for several hundred
                    years now, since well before the arrival of powered aircraft. Even in the 18th century,
                    parachute jumps were made from tethered balloons.</p>

                <p class="tab">As the use of powered aircraft became more widespread and the growth of aviation far
                    outpaced the reliability of early aircraft, the need for more reliable parachute systems
                    became apparent. WWII saw widespread use of these systems, and sport parachuting
                    began soon after. Most early equipment for sport skydiving was in fact surplus military
                    gear until sport specific equipment was designed. Using the rounds developed for early
                    sport parachuting, and even some military equipment, fixed object jumping continued
                    through the 50s and 60s in rare instances, including from El Capitan in Yosemite,
                    California, in the Dolomites of Italy, and from many bridges around the world. (For
                    BASE History, see Chapter 11.)</p>

                <p class="tab">The sport as we know it today is generally considered to have been born in 1978 when
                    a few jumpers exited from the summit of El Capitan, tracked away from the cliff, and
                    opened ram-air parachutes.</p>

                <p class="tab">Carl Boenish, who was one of the major protagonists of that El Capitan adventure
                    and was the first to apply the acronym of B.A.S.E., for Building, Antenna, Span, and
                    Earth, subsequently began the tradition of offering “BASE Numbers” to those who had
                    completed at least one jump from each of the four objects. As of 2018 there are over
                    two thousand jumpers who have received their BASE number, although there are many
                    more people around the world who have experienced BASE jumping from at least one
                    type of object and many who have experienced all four objects but do not feel the need
                    to apply for a BASE number.</p>

                <p class="tab">The recentness of the sport’s modern history, coupled with the fact that the vast
                    majority of BASE information has been passed person to person within a tight knit
                    community of jumpers, means that a great deal of information has been shared by
                    the generous and experienced with the uninitiated. This book is a compilation of that
                    information and those lessons, which have been the result of hundreds of thousands of
                    trial and error experiences, and lessons learned from injuries and fatalities.
                    This book does not contain groundbreaking new theories and techniques, nor does it
                    purport to contain anything new at all. What it does do is bring together ideas and vital
                    techniques that may entertain or inform you, but may not help to keep you alive should
                    you become convinced that BASE jumping is a good idea.</p>

                <div class="tutoCit mb-5">
                    <p>BASE Definition:</p>
                    <p class="tab">A smartypants defined “Extreme Sports” as, “Independent leisure activities where the
                        most likely outcome of a mismanaged mistake or accident is serious injury or death”
                        (Brymer, 2005).</p>
                </div>
                <br>

                <p>
                    <h1>IS BASE JUMPING FOR YOU?</h1>
                </p>

                <p class="tab">If you make it to the end of this book and still have to ask yourself this question,
                    then the answer is probably no. This is a sport that requires more than weekend
                    commitments, or a casual interest. It requires that you risk more than losing a Saturday
                    to poor weather, and the penalties for inadequate spatial awareness and reactions can
                    be death, or worse.</p>

                <p class="tab">You can begin downhill mountain biking or rock climbing part time, casually. You can
                    roll down easier trails, or stick to well-protected cliffs where, although thrilling, the
                    likely worst case scenario is a fractured ankle or clavicle. But on even the most basic and
                    straight forward BASE jump, you are absolutely and without question risking your life.
                    Even skydiving does not fit into the same category of risk, as with a reserve parachute,
                    an automatic activation device (AAD), and thousands of feet (thus far more time) to
                    react it is a comparably mellow activity.</p>

                <p class="tab">BASE goes against modern Western civilization’s intense abhorrence of risk. It is a step
                    back in time, back to the “Wild West” and a step away from guard rails and safety nets
                    and other second chances. Fall out of the plane and fall asleep? Most skydivers have
                    AADs. Driving too fast? Well, you’ve got anti-lock brakes. Crash anyway? Your airbags
                    will likely save your life. In contrast, the penalty for inattention or inaction in BASE
                    is death or serious injury, or worse: serious injury and then death. There is no safety
                    net, no release of liability between you and the edge, and no second chance. Bald risk
                    purifies the sport, and keeps it beautifully primitive.</p>

                <p class="tab">Not long ago, our survival depended on our senses and our alertness. Uncoordinated or
                    slothful humans went hungry as their lithe, athletic colleagues feasted on nature. The
                    fit survived, and lived better.</p>

                <p class="tab">To be successful in BASE jumping for any length of time, you must be attentive,
                    cautious, and responsible. The penalty for complacency and errors is death.</p>

                <p class="tab">If you have ever been prone to cutting corners in any walk of life, if you succumb to bouts
                    of carelessness, or if you have not performed well at virtually every physical activity that
                    you have engaged in during your lifetime, then BASE jumping is not for you.</p>

                <p class="tab">This is how BASE is decidedly un-modern. Nowadays, for the vast majority of
                    recreational sports and activities in Western civilization, the only barrier to entry is
                    money. But just because you can afford to become a BASE jumper doesn’t mean you
                    should, and doesn’t mean that you will survive the experience for long.</p>

                <p class="tab">The most recent generations of humans only have to listen carefully enough to their
                    television to know which brand of olfactory-murdering deodorant to buy, and only
                    have to see clearly enough to choose their favorite package of MSG-laden snack food
                    in the market or to not smash into the three brilliantly illuminated tail lights in front
                    of them while driving. Outside, bright street lights have made the night sky obsolete,
                    along with the need for developing our natural night vision. It has been said that before
                    our senses were dulled by lack of necessity and use, Jupiter’s reflective glow cast a
                    detectable shadow on moonless nights.</p>

                <p class="tab mb-5">Although it won’t re-train your eyesight to the acuity of a Paleolithic hunter, BASE
                    jumping will offer you the chance to re-experience your range of senses, to hone your
                    athletic potential and to immerse yourself in the immediate present. For many jumpers,
                    the moments of dead air freefall after leaving a fixed object feel eternal in length, and
                    provide a deep sense of meditative focus.</p>
                <br>
                <p>
                    <h1>Comprehending Risk</h1>
                </p>

                <p class="tab">BASE jumping is probably even more dangerous than you think it is. At a site in
                    Northern Europe where the BASE environment is heavily regulated and the number of
                    jumps made each year is recorded, approximately 1 in every 3000 jumps ends in fatality.
                    If the odds of winning the lottery were that good, everyone in the world would play.</p>

                <p class="tab">But since winning the lottery in this case means dying, BASE jumping remains a rather
                    unpopular sport and is, perhaps justifiably, viewed by the general public as a crazy and
                    unreasonably dangerous activity. Seriously, you have to admit that it doesn’t even look
                    safe in photos — jumping off of a cliff, wearing a parachute? Even if you know nothing
                    of the inherent risks — the regularly occurring off-headings, the potential canopy
                    malfunctions, the vast opportunities for human error and common lapses of judgment
                    — it is easy to imagine how deadly this activity can be and it disagrees with most people
                    on a very instinctual level.</p>

                <p class="tab mb-5">Yet, somehow, a few of us are drawn to it far more strongly than most are repelled by it.
                    Out of the nearly seven billion people on earth, a few thousand consider BASE jumping
                    to be a beautiful, high stakes, game.</p>
                <br>
                <p>
                    <h1>Then and Now</h1>
                </p>

                <p class="tab">Even Yosemite Park Rangers, who have since developed a worldwide reputation as the
                    world’s foremost BASE haters and most blood-thirsty BASE police, didn’t know what
                    to think when people first began to regularly parachute from cliffs inside the park.
                    Was this illegal? Surely it must be, even if rock climbing and hang gliding were not,
                    as nothing as new and fanciful as parachuting from a cliff could be allowed in one of
                    America’s premier National Parks.</p>

                <p class="tab">Ironically, it was the early participants of modern BASE who ruined America’s most
                    classic site; Carl Boenish and friends jumped Yosemite until the Rangers couldn’t stand
                    it anymore, and a legal agreement to allow limited BASE jumps blew up in the face
                    of BASE jumpers who couldn’t adequately respect the rules that they themselves had
                    helped to create, setting a pattern that has been repeated by jumpers worldwide ever
                    since. Selfishness and the BASE jumper’s natural tendency to flagrantly disobey rules
                    has never once helped the accessibility of a BASE object. Does being drawn to BASE
                    mean being incapable of excersizing self-preservation, and generally behaving?</p>

                <p class="tab">Even the first sets of rules, we rushed to break. Even the very first semblance of
                    organization was disorganized, and the stage was set for a sport to be globally
                    unregulated but at least partially self-regulated, with jumpers developing a vague
                    set of ethics and codes which they would choose to sometimes practice, and
                    sometimes disregard.</p>

                <p class="tab">In the 80s and early 90s, the first jumpers that were caught using many objects were
                    treated with a confused form of admonition by authorities, who were perplexed by an
                    activity that was not overtly harmful, but clearly irresponsible. When the owner of one
                    Northern California object confronted the first people to jump from it, they replied,
                    “We didn’t see a sign that says no jumping from tram!” Miffed and slightly amused, the
                    owner didn’t bother to press charges… but he did post a sign.</p>

                <p class="tab">This pattern of puzzlement, recognition, and prohibition has repeated itself around
                    the world countless times since the early 80s, and once BASE jumping was grandiosely
                    banned from America’s premier National Parks and National Recreation Areas, it went
                    from being a crazy stunt to being a “crime” in some places, in just a few short years.</p>

                <p class="tab">With the mainstream popularization of BASE jumping having been accelerated by the
                    internet and even Hollywood, now security guards and parking attendants everywhere
                    can recognize it at first glance. Having been trained by us via the web, they point
                    and think, “Hey, that stuff is illegal” and rush to attempt to capture the offending
                    perpetrators, sometimes even in places where BASE jumping is not actually prohibited.
                    In many cases, we’ve been made out to appear criminal, largely thanks to the harsh
                    punishments doled out by the US National Park Service, which has been proud to lead
                    by example.</p>

                <p class="tab">BASE videos and social media has made the sport recognizable independently of
                    skydiving. The current generation is a far cry from our cagey forefathers who were
                    cautious about telling even their skydiving peers that they engaged in night BASE
                    missions. That being said, one must only troll through a few of the early 80s BASE news
                    articles to see that the “Hey, bro, check me out” phenomenon was not born with the
                    invention of YouTube, and has been an aspect of human nature since time immemorial.</p>

                <p class="tab">But a few BASE stunts appearing in a few local newspapers is nothing compared to the
                    literally tens of millions of people that have seen BASE jumping clips on the internet,
                    Hollywood movies, and network TV. Nowadays, it is safe to say that the sport has
                    become recognizable in the mainstream even if it is still only practiced by a miniscule
                    fraction of the population. Undoubtedly, it was the ease with which we can now share
                    images of BASE jumping on the internet that played the most significant role in
                    exploding the sport.</p>

                <p class="tab">BASE jumping’s ubiquitous presence has made it appear not only more accessible, but
                    easier, as well. The former may be true, as after a simple Google search you will arrive
                    at one of several BASE jumping forums which are full of information on beginning
                    the sport, alongside tens of thousands of posts from BASE jumpers who are more than
                    eager to share their opinions with you. But BASE jumping is no easier than it was
                    twenty years ago, when most manufacturers didn’t even have a website of their own.</p>

                <p class="tab">In fact, the risks remain identical and the sites mostly unchanged. What is changed is
                    the perception of risk based upon the normalization of the activity; if so many people
                    are doing it, then it can’t be that dangerous, right? And so the barriers to entry become
                    lower and also appear lower, and the sport continues to grow at an exponential rate
                    despite the real danger and the dangerous reputation.</p>

                <p class="tab">What the future will bring is uncertain, but one thing is sure: BASE jumping will
                    continue to grow, no matter how many fatalities we have per year. Some people will
                    always be attracted to the idea of parachuting from objects regardless of the danger, and
                    some people will be attracted to it because of the danger.</p>

                <div class="tutoCit">
                    <p>“It doesn’t matter who you are, where you come from, or what you do: when you are on the
                        edge prepared to take that step, we are all the same.”</p>
                    -mthead
                </div>
            </div>
		</div>
	</main>
{% endblock %}
